<section class="log-in-section section-b-space py-3">
   <div class="container w-100">
      <div class="row">
         <div class="col-xl-7 m-auto">
            <!-- <app-alert></app-alert> -->
            <div class="log-in-box py-4">
               <div class="log-in-title">
                  <!-- <img src="https://laravel.pixelstrap.net/multikart/storage/1294/12.png" class="img-fluid logo-img" alt=""> -->
                  <h2 class="gradient-text d-flex justify-content-center">Job Portal</h2>
                  <h4>{{ 'setup_your_store_information' | translate }}</h4>
               </div>
               <div class="input-box">
                  <form class="row g-4" [formGroup]="registrationForm" (ngSubmit)="submit();">
                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="name" class="form-control" id="firstName" formControlName="firstName" placeholder="Enter First Name" />
                           <label for="firstName">First Name*</label>
                           @if(registrationForm.controls['firstName'].touched && registrationForm.controls['firstName'].errors?.['required']){
                              <div class="invalid-feedback">
                                 First name is required.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="name" class="form-control" id="lastName" formControlName="lastName" placeholder="Enter First Name" />
                           <label for="lastName">Last Name*</label>
                           @if(registrationForm.controls['lastName'].touched && registrationForm.controls['lastName'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Last name is required.
                              </div>
                           }
                        </div>
                     </div>

                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter Your Email" />
                           <label for="email">Email*</label>
                           @if(registrationForm.controls['email'].touched && registrationForm.controls['email'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Email is required.
                              </div>
                           }

                           @if(registrationForm.controls['email'].touched && registrationForm.controls['email'].errors?.['email']){
                              <div class="invalid-feedback">
                                 Please enter valid email.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-6 phone-selection">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                            <select2 class="custom-select intl-tel-input" [templates]="template" [data]="codes" formControlName="countryCode" noResultMessage="{{ 'no_data_found' | translate }}">
                                 <ng-template #template let-data="data">
                                    <div class="country">
                                       <div class="flag-box">
                                          <div class="iti-flag {{data?.class}}"></div>
                                       </div>
                                       <span class="dial-code">{{data.code}}</span>
                                    </div>
                                 </ng-template>
                              </select2>
                              }
                           <input type="number" class="form-control intl-input-padding" formControlName="phoneNo" placeholder="Enter Phone No" name="phone">
                           @if(registrationForm.controls['phoneNo'].touched && registrationForm.controls['phoneNo'].errors?.['required']){
                              <div class="invalid-feedback" autocomplete="false">
                                 Phone number is required.
                              </div>
                           }

                           @if(registrationForm.controls['phoneNo'].touched && registrationForm.controls['phoneNo'].errors?.['pattern']){
                              <div class="invalid-feedback">
                                 Enter valid phone number.
                              </div>
                           }
                        </div>
                     </div>


                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter Password" />
                           <label for="password">Password*</label>
                           @if(registrationForm.controls['password'].touched && registrationForm.controls['password'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Password is required.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="password" class="form-control" id="confirm_password" formControlName="password_confirmation" placeholder="Enter Confirm Password" />
                           <label for="confirm_password">Confirm Password*</label>
                           @if(registrationForm.controls['password_confirmation'].touched && registrationForm.controls['password_confirmation'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Confirm password is required.
                              </div>
                           }@else {
                              @if(passwordMatchError){
                                 <div class="invalid-feedback">
                                    Confirm password does not matched.
                                 </div>
                              }
                           }
                        </div>
                     </div>
                     
                     <div class="col-sm-4" [ngClass]="{'col-sm-6':selectedUserType === userTypeEnum.WORKER}">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="countryList"
                                 placeholder="Country*"
                                 formControlName="countryId"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'country')"
                                 (ngModelChange)="selectCountryState($event,'country')"
                                 resettable
                                 >
                              </select2>
                           }
                           @if(registrationForm.controls['countryId'].touched && registrationForm.controls['countryId'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Country is required.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-4 col-6" [ngClass]="{'col-sm-6':selectedUserType === userTypeEnum.WORKER}">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="stateList"
                                 placeholder="State*"
                                 formControlName="stateId"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'state')"
                                 (ngModelChange)="selectCountryState($event,'state')"
                                 resettable
                                 >
                              </select2>
                           }
                           @if(registrationForm.controls['stateId'].touched && registrationForm.controls['stateId'].errors?.['required']){
                              <div class="invalid-feedback">
                                 State is required.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-4 col-6" [ngClass]="{'col-sm-6':selectedUserType === userTypeEnum.WORKER}">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                           <select2
                              class="custom-select"
                              [data]="cityList"
                              placeholder="City*"
                              formControlName="cityId"
                              [noResultMessage]="'No Data Found'"
                              [customSearchEnabled]="true"
                              (search)="searchDropDown($event,'city')"
                              (ngModelChange)="selectCountryState($event,'city')"
                              resettable
                              >
                           </select2>
                           }
                           @if(registrationForm.controls['cityId'].touched && registrationForm.controls['cityId'].errors?.['required']){
                              <div class="invalid-feedback">
                                City is required.
                              </div>
                           }
                        </div>
                     </div>

                     @if (selectedUserType === userTypeEnum.COMPANY) {
                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <input type="text" class="form-control" id="pincode" formControlName="pincode" placeholder="Enter PIN Code" />
                           <label for="pincode">PIN Code*</label>
                           @if(registrationForm.controls['pincode'].touched && registrationForm.controls['pincode'].errors?.['required']){
                              <div class="invalid-feedback">
                                 PIN code is required.
                              </div>
                           }
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           <div class="dp-hidden position-absolute custom-dp-dropdown">
                              <div class="input-group">
                                <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker" [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" readonly />
                                <ng-template #t let-date let-focused="focused">
                                  <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)" [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date" (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                  </span>
                                </ng-template>
                              </div>
                            </div>
        
                            <div class="input-group custom-dt-picker">
                              <input #dpFromDate class="form-control" placeholder="Date Of Birth" name="dpFromDate" [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" readonly />
                              <button class="btn btn-light-bg-secondary" (click)="datepicker.toggle()" type="button">
                                <i class="ri-calendar-line"></i>
                              </button>
                            </div>
                        </div>
                     </div>
                     }

                     <div class="col-sm-4" [ngClass]="{'col-sm-6':selectedUserType === userTypeEnum.WORKER}">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="industryList"
                                 placeholder="Industry*"
                                 formControlName="industryID"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'industry')"
                                 resettable
                                 >
                              </select2>
                           }
                           @if(registrationForm.controls['industryID'].touched && registrationForm.controls['industryID'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Industry is required.
                              </div>
                           }
                        </div>
                     </div>
                     @if (selectedUserType === userTypeEnum.COMPANY) {
                     <div class="col-sm-4">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="legalEntityList"
                                 placeholder="Legal Entity"
                                 formControlName="legalEnityId"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'legalEntity')"
                                 resettable
                                 >
                              </select2>
                           }
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="businessTypeList"
                                 placeholder="Business Type*"
                                 formControlName="businessTypeId"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'businessType')"
                                 resettable
                                 >
                              </select2>
                           }
                           @if(registrationForm.controls['businessTypeId'].touched && registrationForm.controls['businessTypeId'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Business type is required.
                              </div>
                           }
                        </div>
                     </div>

                     <div class="col-12">
                        <div class="form-floating theme-form-floating log-in-form">
                           <textarea type="text" class="form-control" id="street1" formControlName="street1" placeholder="Enter Street 1"></textarea>
                           <label for="street1">Street 1*</label>
                           @if(registrationForm.controls['street1'].touched && registrationForm.controls['street1'].errors?.['required']){
                              <div class="invalid-feedback">
                                 Street 1 is required.
                              </div>
                           }
                        </div>
                     </div>

                     <div class="col-12">
                        <div class="form-floating theme-form-floating log-in-form">
                           <textarea type="text" class="form-control" id="street2" formControlName="street2" placeholder="Enter Street 2"></textarea>
                           <label for="street2">Street 2</label>
                        </div>
                     </div>                     

                     <div class="col-sm-6">
                        <div class="form-floating theme-form-floating log-in-form">
                           @if(platformId){
                              <select2
                                 class="custom-select"
                                 [data]="languageList"
                                 placeholder="Language"
                                 formControlName="bpLanguageIds"
                                 [customSearchEnabled]="true"
                                 [noResultMessage]="'No Data Found'"
                                 (search)="searchDropDown($event,'language')"
                                 resettable
                                 [multiple]="true"
                                 >
                              </select2>
                           }
                        </div>
                     </div> 
                     <!-- <div class="col-sm-6">
                        <div class="form-check form-switch ps-0 d-flex align-items-center h-100">
                           <label for="status" style="margin-bottom: 0;margin-right: 5px;">Status</label>
                           <label class="switch">
                           <input type="checkbox" id="status" formControlName="status">
                           <span class="switch-state"></span>
                           </label>
                        </div> 
                     </div>                    -->
                     }

                     <div class="col-12">
                        <app-button [class]="'btn btn-theme btn-lg w-100 justify-content-center'" [id]="'register_btn'">
                           {{ 'submit' | translate }}
                        </app-button>
                        <div class="sign-up-box">
                           <h4>{{ 'already_have_account' | translate }}</h4>
                           <a [routerLink]="['/auth/login']" class="gradient-text">{{ 'log_in' | translate }}</a>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>