
<div class="my-4">
  @if (jobConfig) {
  <div class="row g-3">
    @for (profile of jobConfig; track $index) {
    <div class="col-xxl-3 col-lg-4 col-sm-6">
      <div class="coupon-box">
        <div class="coupon-name">
          <h6 class="fw-semibold dark-text mb-1">{{ profile?.jobTitle }}</h6>
        </div>
        <div class="d-flex justify-content-between">
          @if (profile.jobTypeId==jobTypeEnum.FULL_TIME) {
          <span class="new-badge new-bg-success me-2">{{ profile.jobType }}</span>
          }
          @if (profile.jobTypeId==jobTypeEnum.PART_TIME) {
          <span class="new-badge new-bg-green me-2">{{ profile.jobType }}</span>
          }
          @if (profile.jobTypeId==jobTypeEnum.CONTRACT) {
          <span class="new-badge new-bg-orange me-2">{{ profile.jobType }}</span>
          }
          <small class="fw-semibold">{{profile?.createdDate}}</small>
        </div>
        <div class="coupon-content mt-2">
          @for (location of profile?.jobLocation; track $index) {
            @if ($index == 0) {
            <p>
              <strong><i class="ri-map-pin-line dark-text"></i></strong>
              {{location?.address ? location?.address+',' : ''}}
              {{location?.cityName ? location?.cityName+',' : ''}}
              {{location?.stateName ? location?.stateName+',' : ''}}
              {{location?.countryName ? location?.countryName : ''}}
              {{location?.zipCode ? ' - '+location?.zipCode+',' : ''}}
            </p>
            }
          }
          @if (profile?.experience) {
            <p>{{profile?.experience}} Year of Experience</p>
          }
          <div class="d-flex align-items-center justify-content-between">
            @if (profile?.dueDate) {
              <div>
                <strong>Due Date : </strong>
                <p class="text-danger">{{profile?.dueDate}}</p>
              </div>
            }
            <span class="new-badge bg-success me-2">
              <i class="ri-star-s-line"></i> 4.2
            </span>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            @if (profile?.dialCode && profile?.contactNo) {
              <div>
                <strong>Contact No : </strong>
                <p>{{(profile?.dialCode? '+'+profile?.dialCode : '') +' '+profile?.contactNo}} </p>
              </div>
            }    
            @if (profile?.amount) {
              <div class="amount-text">
                <h6 class="fw-semibold">₹{{profile?.amount}} </h6>
              </div>
            }        
          </div>
        </div>
        <div class="coupon-apply">
          @if(userType === userTypeEnum.COMPANY){
            <div>
              <a class="edit-action" (click)="action('edit',profile)"><i class="ri-pencil-line"></i></a>
              <a class="delete-action" (click)="action('delete',profile)"><i class="ri-delete-bin-line"></i></a>
            </div>
          }
          @else{
            <app-button 
              [class]="'btn-sm fw-bold btn btn-outline'" 
              [spinner]="false"
              (click)="action('view',profile)">
              View
            </app-button>
            <app-button 
              [class]="'btn-sm fw-bold btn btn-theme'" 
              [spinner]="false"
              (click)="action('apply',profile)">
              Apply Now
            </app-button>
          }
        </div>
      </div>
    </div>
    <!-- <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm border-0 rounded-4 p-4">

            <div class="d-flex justify-content-between">
              <img 
                src="assets/images/user.png" 
                alt="Profile Image" 
                class="profile-img me-3"
              />
              <div>
                <h5 class="fw-bold mb-0">{{ profile.jobTitle }}</h5>
                <p class="text-muted small mb-0">{{ profile.jobType }}</p>
                @if (profile.jobTypeId==jobTypeEnum.FULL_TIME) {
                    <span class="badge bg-success me-2">{{ profile.jobType }}</span>
                  }
                 @if (profile.jobTypeId==jobTypeEnum.PART_TIME) {
                    <span class="badge bg-secondary me-2">{{ profile.jobType }}</span>
                  }
                 @if (profile.jobTypeId==jobTypeEnum.CONTRACT) {
                    <span class="badge bg-primary me-2">{{ profile.jobType }}</span>
                  }
              </div>
              <div>{{profile?.createdDate}}</div>
            </div>

            <div class="d-flex align-items-center mt-3">
              <span class="badge bg-success me-2">
                <i class="bi bi-star-fill text-white me-1"></i> 5.0
              </span>
              <i class="bi bi-geo-alt text-primary me-2"></i>
              <p class="text-muted mb-0">New York, USA</p>
            </div>

            <div class="mt-2">
              <p class="text-muted small mb-0">{{ profile.experience }} years of exp.</p>
              <p class="text-muted small">1000+ consultations</p>
            </div>

            <div class="d-flex flex-wrap mt-3">
              <span class="badge bg-light text-dark me-2">Anxiety</span>
              <span class="badge bg-light text-dark me-2">Depression</span>
              <span class="badge bg-light text-dark me-2">PTSD</span>
              <span class="badge bg-light text-dark">+3</span>
            </div>

            <div class="d-flex justify-content-between align-items-center mt-4">
              <div>
                <span class="fw-bold text-primary">${{ profile.amount }}/h</span>
                <p class="text-muted small">Online/Offline</p>
              </div>
              <button class="btn btn-primary btn-sm">Apply</button>
            </div>

          </div>
        </div> -->
    }
  </div>
  }
</div>
