<div class="login-container">
    <!-- Left Section -->
    <div class="welcome-section">
        <h1>Welcome to</h1>
        <h1 class="portal-title">Employer Worker Portal</h1>
        <p class="welcome-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled.
        </p>
    </div>

    <!-- Right Section -->
    <div class="login-form-section">
        <div class="login-box p-card">
            <h2 class="text-center">Log in</h2>
            <form [formGroup]="loginForm" class="p-fluid">
                <div class="field">
                    <label for="email">Login ID/Email</label>
                    <input pInputText id="email" formControlName="email" placeholder="Enter your id/email"
                    [class.ng-dirty]="formControl['email'].invalid && formControl['email'].touched"/>
                    @if (formControl['email'].invalid && formControl['email'].touched) {
                        <small class="p-error">
                            @if (formControl['email'].errors?.['required']) {
                                Email is required
                            }
                            @if (formControl['email'].errors?.['email']) {
                                Please enter a valid email address
                            }
                        </small>
                    }
                </div>

                <div class="field">
                    <label for="password">Password</label>
                    <p-password id="password" [feedback]="false" formControlName="password" [toggleMask]="true" placeholder="Enter password" size="small"
                    [class.ng-dirty]="formControl['password'].invalid && formControl['password'].touched"></p-password>
                    @if (formControl['password'].invalid && formControl['password'].touched) {
                        <small class="p-error">Password is required</small>
                    }
                </div>

                <div class="forgot-password">
                    <a (click)="action('/auth/forgot-password')">Forgot Password</a>
                </div>

                <p-button label="Login" styleClass="w-full p-button-sm" (click)="onSubmit()"></p-button>

                <div class="divider">
                    <span>or</span>
                </div>

                <div class="sign-up">
                    <span>Create a new account? </span>
                    <a (click)="action('/auth/user-selection')">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>