<app-page-wrapper>
  <div class="d-flex align-items-center justify-content-center">
    <form class="theme-form theme-form-2 mega-form w-50"
      [formGroup]="jobApplyForm">
      <!-- Comment -->
      <div class="mt-3">
        <label class="form-label">Comment<span
            class="text-danger">*</span></label>
        <textarea class="form-control" placeholder="Enter Comment"
          formControlName="comment"></textarea>
        @if(jobApplyForm.controls['comment'].touched &&
        jobApplyForm.controls['comment'].errors?.['required']){
        <div class="invalid-feedback">
          Comment is required.
        </div>
        }
      </div>

      <div class="text-end mt-4">
        <app-button [id]="'apply_job'" (click)="submitForm()">Apply
          Job</app-button>
      </div>
    </form>
  </div>
</app-page-wrapper>
