.user-selection-component{
    height: 100vh;
    width: 35%;

    @media (min-width: 750px) and (max-width: 1260px) {
        width: 50%;
    }

    @media (min-width: 600px) and (max-width: 960px) {
        width: 70%;
    }

    @media (max-width: 600px) {
        width: 100%;
    }

    .title-header{
        width: 75%;

        @media (max-width: 750px) {
            width: 90%;
        }
    }

    .card{
        border-radius: 20px !important;
        height: 170px;
        width: 170px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @media (max-width: 750px) {
            height: 155px;
            width: 155px;
        }

        img{
            height: 65px;
            width: 65px;
            
            @media (max-width: 750px) {
                height: 60px;
                width: 60px;
            }
        }
    }
}