<div class="otp-container flex h-[100vh] bg-white">
    <div class="welcome-section flex-col md:w-2/4 px-[64px] py-5">
        <div class="text-[#fff]">EMPLOYER WORKER PORTAL</div>
        <div class="flex items-center justify-center h-[90vh]">
            <img src="assets/images/auth/forgot-password.png"
                alt="otp Password">
        </div>
    </div>
    <div
        class="form-container md:w-2/4 w-full flex items-center justify-center">
        <div class="otp-box md:shadow-md">
            <div class="mb-8 text-center">
                <h1 class="text-2xl font-bold text-gray-800">OTP
                    Verification</h1>
                <p class="text-gray-600 mt-2">
                    Enter the OTP sent to your registered email ID
                </p>
            </div>

            <div id="otpForm" class="flex flex-col items-center">
                <div class="mb-8 text-center">
                    <div class="flex gap-4 mb-1">
                        @for (item of otpArray; track $index) {
                        <input type="text"
                            maxlength="1"
                            [(ngModel)]="otpArray[$index]"
                            (input)="onOtpInput($event, $index)"
                            (keydown)="onOtpKeyDown($event, $index)"
                            [class.border-red-500]="otpArray[$index] === '' && showError"
                            class="w-12 h-12 text-center text-xl border rounded-lg focus:border-primary focus:outline-none" />
                        }
                    </div>
                    @if (showError) {
                        <small class="text-red-500">
                            Please enter a valid OTP.
                        </small>
                    }
                </div>

                <button
                    type="button"
                    (click)="onSubmit()"
                    class="submit-btn w-full py-2 px-4 mt-4 text-white font-medium rounded shadow-sm focus:outline-none focus:ring-2 focus:ring-opacity-50 !rounded-button whitespace-nowrap">
                    Verify & Proceed
                </button>
            </div>

            <div class="mt-6 text-center text-gray-600">
                Don't received the OTP?
                <a class="text-secondary hover:underline cursor-pointer"> Resend
                    OTP</a>
            </div>
        </div>
    </div>
</div>