  
  .location-header {
    border-bottom: 1px solid #ddd;
    h6{
      font-size: larger;
      font-weight: 600;
    }
    .btn-add{
      background-color: #527c88;
      color: #fff;
    }
  }

  .location-body{
    a{
      i{
        font-size: large;
      }
    }
  }
  
  .card-body {
    padding: 20px;
  }
  
  