<form class="theme-form theme-form-2 mega-form" [formGroup]="jobForm">
  <div class="row">
    <!-- Job Type -->
    <div class="col-md-12 mt-3">
      <div class="d-md-flex d-block align-items-center">
        <label class="form-label mb-0">Job Type<span
            class="text-danger">*</span></label>
        <div class="d-flex ps-md-3 ps-0">
          <div class="library-box d-flex align-items-center">
            <div class="form-check">
              <input type="radio"
                name="jobType" class="form-check-input mb-0" [value]="1"
                id="full-time" formControlName="jobType" />
            </div>
            <label for="full-time" class="mb-0 mx-2">
              <span class="new-badge new-bg-success me-2">Full Time</span>
            </label>
          </div>
          <div class="library-box d-flex align-items-center">
            <div class="form-check">
            <input type="radio"
              name="jobType" class="form-check-input mb-0" [value]="2"
              id="part-time" formControlName="jobType" />
              </div>
            <label for="part-time" class="mb-0 mx-2">
              <span class="new-badge new-bg-green me-2">Part Time</span>
            </label>
          </div>
          <div class="library-box d-flex align-items-center">
            <div class="form-check">
            <input type="radio"
              name="jobType" class="form-check-input mb-0" [value]="3"
              id="contract"
              formControlName="jobType" />
              </div>
            <label for="contract" class="mb-0 mx-2">
              <span class="new-badge new-bg-orange me-2">Contract</span>
            </label>
          </div>
          <div class="library-box d-flex align-items-center">
            <div class="form-check">
            <input type="radio"
              name="jobType" class="form-check-input mb-0" [value]="4"
              id="contract"
              formControlName="jobType" />
              </div>
            <label for="contract" class="mb-0 mx-2">
              <span class="new-badge bg-primary me-2">Casual</span>
            </label>
          </div>
        </div>
      </div>
      @if(formControl['jobType'].touched &&
      formControl['jobType'].errors?.['required']){
      <div class="invalid-feedback">
        Job type is required.
      </div>
      }
    </div>

    <!-- Job Title -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Job Title<span
          class="text-danger">*</span></label>
      <input class="form-control" type="text" placeholder="Enter job title"
        formControlName="jobTitle">
      @if(formControl['jobTitle'].touched &&
      formControl['jobTitle'].errors?.['required']){
      <div class="invalid-feedback">
        Job title is required.
      </div>
      }
    </div>

    <!-- Owner Name -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Owner Name<span
          class="text-danger">*</span></label>
      <input class="form-control" type="text" placeholder="Enter owner name"
        formControlName="nameOfOwner">
      @if(formControl['nameOfOwner'].touched &&
      formControl['nameOfOwner'].errors?.['required']){
      <div class="invalid-feedback">
        Owner name is required.
      </div>
      }
    </div>

    <!-- Email -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Email<span class="text-danger">*</span></label>
      <input class="form-control" type="email" placeholder="Enter email"
        formControlName="email">
      @if(formControl['email'].touched &&
      formControl['email'].errors?.['required']){
      <div class="invalid-feedback">
        Email is required.
      </div>
      }
      @if(formControl['email'].touched &&
      formControl['email'].errors?.['email']){
      <div class="invalid-feedback">
        Please enter valid email.
      </div>
      }
    </div>

    <!-- Contact No -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Contact No<span
          class="text-danger">*</span></label>
      <div class>
        <!-- form-floating theme-form-floating log-in-form -->
        @if(platformId){
        <select2 class="custom-select intl-tel-input" style="left: 13px;"
          [templates]="template" [data]="codes" formControlName="dialCode"
          noResultMessage="{{ 'no_data_found' | translate }}">
          <ng-template #template let-data="data">
            <div class="country">
              <div class="flag-box">
                <div class="iti-flag {{data?.class}}"></div>
              </div>
              <span class="dial-code">{{data.code}}</span>
            </div>
          </ng-template>
        </select2>
        }
        <input type="number" class="form-control intl-input-padding"
          formControlName="contactNo" placeholder="Enter Contact No"
          name="contactNo">
        @if(formControl['contactNo'].touched &&
        formControl['contactNo'].errors?.['required']){
        <div class="invalid-feedback" autocomplete="false">
          Phone number is required.
        </div>
        }

        @if(formControl['contactNo'].touched &&
        formControl['contactNo'].errors?.['pattern']){
        <div class="invalid-feedback">
          Enter valid contact number.
        </div>
        }
      </div>
    </div>

    <!-- Start Time -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Job Start Time<span
          class="text-danger">*</span></label>
      <input class="form-control" type="datetime-local"
        formControlName="jobStartTime">
      @if(formControl['jobStartTime'].touched &&
      formControl['jobStartTime'].errors?.['required']){
      <div class="invalid-feedback">
        Job start time is required.
      </div>
      }
    </div>

    <!-- End Time -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Job End Time<span
          class="text-danger">*</span></label>
      <input class="form-control" type="datetime-local"
        formControlName="jobEndTime">
      @if(formControl['jobEndTime'].touched &&
      formControl['jobEndTime'].errors?.['required']){
      <div class="invalid-feedback">
        Job end time is required.
      </div>
      }
    </div>

    <!-- Experience -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Experience<span
          class="text-danger">*</span></label>
      <input class="form-control" type="number" placeholder="Enter experience"
        formControlName="experience">
      @if(formControl['experience'].touched &&
      formControl['experience'].errors?.['required']){
      <div class="invalid-feedback">
        Experience is required.
      </div>
      }
    </div>

    <!-- Due Date -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Due Date<span
          class="text-danger">*</span></label>
      <input class="form-control" type="datetime-local"
        formControlName="dueDate">
      @if(formControl['dueDate'].touched &&
      formControl['dueDate'].errors?.['required']){
      <div class="invalid-feedback">
        Due date is required.
      </div>
      }
    </div>

    <!-- Amount -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Amount<span class="text-danger">*</span></label>
      <input class="form-control" type="number" placeholder="Enter amount"
        formControlName="amount">
      @if(formControl['amount'].touched &&
      formControl['amount'].errors?.['required']){
      <div class="invalid-feedback">
        Amount is required.
      </div>
      }
    </div>

    <!-- Amount Type -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Amount Type<span
          class="text-danger">*</span></label>
      <select2
        class="custom-select"
        [data]="amountTypeList"
        formControlName="amountType"
        [noResultMessage]="'No Data Found'"
        resettable
        [placeholder]="'Select skills'">
      </select2>
      @if(formControl['amountType'].touched &&
      formControl['amountType'].errors?.['required']){
      <div class="invalid-feedback">
        Amount type is required.
      </div>
      }
    </div>

    <!-- Job Skills -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Job Skills<span
          class="text-danger">*</span></label>
      <select2
        class="custom-select"
        [data]="skillList"
        formControlName="jobSkillIds"
        [customSearchEnabled]="true"
        [noResultMessage]="'No Data Found'"
        (search)="searchDropDown($event,'skill')"
        resettable
        [multiple]="true"
        [placeholder]="'Select skills'">
      </select2>
      @if(formControl['jobSkillIds'].touched &&
      formControl['jobSkillIds'].errors?.['required']){
      <div class="invalid-feedback">
        Job skill is required.
      </div>
      }
    </div>

    <!-- Job Languages -->
    <div class="col-md-4 mt-3">
      <label class="form-label">Job Language<span
          class="text-danger">*</span></label>
      <select2
        class="custom-select"
        [data]="languageList"
        placeholder="Select Language"
        formControlName="jobLanguageIds"
        [customSearchEnabled]="true"
        [noResultMessage]="'No Data Found'"
        (search)="searchDropDown($event,'language')"
        resettable
        [multiple]="true">
      </select2>
      @if(formControl['jobLanguageIds'].touched &&
      formControl['jobLanguageIds'].errors?.['required']){
      <div class="invalid-feedback">
        Job language is required.
      </div>
      }
    </div>

    <!-- Description -->
    <div class="col-md-12 mt-3">
      <label class="form-label">Description</label>
      <!-- <textarea rows="1" class="form-control" placeholder="Enter Description"
        formControlName="description" ></textarea> -->
        <div class="custom-editor editor-checkbox">
          <div class="form-check form-switch">
            <input class="form-check-input" id="ckcheck" type="checkbox" name="isCodeEditor" [(ngModel)]="isCodeEditor" [ngModelOptions]="{standalone: true}">
            <label for="ckcheck" class="cursor-pointer">
              <span class="edit">
                <i class="ri-edit-box-line"></i>
              </span>
              <span class="code">
                <i class="ri-code-s-slash-line"></i>
              </span>
            </label>
          </div>
          <div [ngClass]="!isCodeEditor ? 'd-none' : 'd-block'">
            <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
            <ngx-editor [editor]="editor" [placeholder]="'Type here...'" formControlName="description" [(ngModel)]="html" (ngModelChange)="getData($event)"></ngx-editor>
          </div>
          <div class="editor-textarea" [ngClass]="isCodeEditor ? 'd-none' : 'd-block'">
            <textarea class="form-control" id="sort_description" placeholder="{{ 'enter_html_content' | translate }}" rows="3" [formControl]="textArea" (keyup)="getText($event)"></textarea>
            <p class="mt-2">*{{"only_accept_html_tags" | translate}}</p>
          </div>
          <!-- @if(jobForm.controls['description'].touched && jobForm.controls['description'].errors?.['required']){
            <div class="invalid-feedback">
              {{ 'description_is_required' | translate }}
            </div>
          } -->
        </div>
    </div>

    <!-- Comment -->
    <!-- <div class="col-md-6 col-sm-12 mt-3">
      <label class="form-label">Comment</label>
      <textarea rows="6" class="form-control" placeholder="Enter Comment"
        formControlName="comment" ></textarea>
    </div> -->
  </div>

  <!-- Job Locations (FormArray) -->
  <div class="my-3">
    <div
      class="location-header d-flex justify-content-between align-items-center p-1 mb-1">
      <h6 class="mb-0 ">Job Locations</h6>
      <button type="button" class="btn btn-primary btn-sm"
        (click)="addLocation()">+ Add</button>
    </div>

    <div class="location-body p-0" formArrayName="jobLocations">
      @for (location of jobLocations.controls; track location; let index =
      $index) {
      <div [formGroupName]="index"
        class="mt-3 p-3 pt-2 border rounded bg-white shadow-sm">

        <!-- Remove Button -->
        <div class="text-end">
          <a type="button"
            (click)="removeLocation(index)">
            <i class="ri-delete-bin-line text-danger"></i>
          </a>
        </div>

        <div class="row">
          <!-- Address (Full-width row) -->
          <div class="col-md-8 mt-md-0 mt-3">
            <label class="form-label">Address<span
                class="text-danger">*</span></label>
            <input class="form-control" type="text" formControlName="address"
              placeholder="Enter address">
            @if(jobLocations.get([index])?.get('address')?.touched &&
            jobLocations.get([index])?.get('address')?.errors?.['required']){
            <div class="invalid-feedback">
              Address is required.
            </div>
            }
          </div>
          <div class="col-md-4 mt-md-0 mt-3">
            <label class="form-label">Zip Code<span
                class="text-danger">*</span></label>
            <input class="form-control" type="text" formControlName="zipCode"
              placeholder="Zip Code">
            @if(jobLocations.get([index])?.get('zipCode')?.touched &&
            jobLocations.get([index])?.get('zipCode')?.errors?.['required']){
            <div class="invalid-feedback">
              Zip code is required.
            </div>
            }
          </div>

          <!-- Country -->
          <div class="col-md-4 mt-3">
            <label class="form-label">Country<span
                class="text-danger">*</span></label>
            <div class="form-floating theme-form-floating log-in-form">
              @if(platformId){
              <select2
                class="custom-select"
                [data]="countryList"
                placeholder="Select Country"
                formControlName="countryId"
                [customSearchEnabled]="true"
                [noResultMessage]="'No Data Found'"
                (search)="searchDropDown($event,'country')"
                (ngModelChange)="selectCountryState($event,'country')"
                resettable>
              </select2>
              }
            </div>
            @if(jobLocations.get([index])?.get('countryId')?.touched &&
            jobLocations.get([index])?.get('countryId')?.errors?.['required']){
            <div class="invalid-feedback">
              Country is required.
            </div>
            }
          </div>

          <!-- State -->
          <div class="col-md-4 mt-3">
            <label class="form-label">State<span
                class="text-danger">*</span></label>
            <div class="form-floating theme-form-floating log-in-form">
              @if(platformId){
              <select2
                class="custom-select"
                [data]="stateList"
                placeholder="Select State"
                formControlName="stateId"
                [customSearchEnabled]="true"
                [noResultMessage]="'No Data Found'"
                (search)="searchDropDown($event,'state')"
                (ngModelChange)="selectCountryState($event,'state')"
                resettable>
              </select2>
              }
            </div>
            @if(jobLocations.get([index])?.get('stateId')?.touched &&
            jobLocations.get([index])?.get('stateId')?.errors?.['required']){
            <div class="invalid-feedback">
              State is required.
            </div>
            }
          </div>

          <!-- City -->
          <div class="col-md-4 mt-3">
            <label class="form-label">City<span
                class="text-danger">*</span></label>
            <div class="form-floating theme-form-floating log-in-form">
              @if(platformId){
              <select2
                class="custom-select"
                [data]="cityList"
                placeholder="Select City"
                formControlName="cityId"
                [noResultMessage]="'No Data Found'"
                [customSearchEnabled]="true"
                (search)="searchDropDown($event,'city')"
                (ngModelChange)="selectCountryState($event,'city')"
                resettable>
              </select2>
              }
            </div>
            @if(jobLocations.get([index])?.get('cityId')?.touched &&
            jobLocations.get([index])?.get('cityId')?.errors?.['required']){
            <div class="invalid-feedback">
              City is required.
            </div>
            }
          </div>
        </div>        
      </div>
      }
    </div>
  </div>

  <!-- Status -->
  <!-- <div class="row">
    <div class="col-md-12 d-flex align-items-center">
      <label class="form-label">Status</label>
      <div class="form-check form-switch ps-2">
        <div class="switch">
          <input type="checkbox" id="status" formControlName="status">
          <span class="switch-state"></span>
        </div>
      </div>
    </div>
  </div> -->

  <!-- Submit Button -->
  <div class="d-flex justify-content-end mt-4">
    <app-button 
      [class]="'btn-sm fw-bold btn btn-outline-danger me-2'" 
      (click)="closeSection()">
      Close
    </app-button>
    <app-button 
      [class]="'btn-sm fw-bold btn btn-outline-success'" 
      (click)="submit()">
      {{ (type == 'create' ? 'Save' : 'Update') | translate }}
    </app-button>
    <!-- <app-button [id]="'job_btn'" (click)="submit()">{{ (type == 'create' ? 'Save Job' :
      'Update Job') | translate }}</app-button> -->
  </div>

</form>
