<form class="theme-form theme-form-2 mega-form" [formGroup]="form" (ngSubmit)="submit()">
  <app-form-fields [label]="'job title'" [for]="'title'" [required]="true">
    <input class="form-control" type="text" placeholder="Enter job title" name="jobTitle" formControlName="jobTitle">
    @if(form.controls['jobTitle'].touched && form.controls['jobTitle'].errors?.['required']){
      <div class="invalid-feedback">
        Job title is required.
      </div>
    }
  </app-form-fields>

  <app-form-fields [label]="'job type'" [for]="'title'">
    <div class="d-flex">
      <div class="library-box d-flex align-items-center">
        <input type="radio"         
           name="attachment" class="media-checkbox" [value]="1" id="full-time" formControlName="jobType"/>
        <label for="full-time" class="mb-0 mx-2">Full Time</label>
      </div>
      <div class="library-box d-flex align-items-center">
        <input type="radio"         
           name="attachment" class="media-checkbox" [value]="2" id="part-time" formControlName="jobType"/>
        <label for="part-time" class="mb-0 mx-2">Part Time</label>
      </div>
      <div class="library-box d-flex align-items-center">
        <input type="radio"         
           name="attachment" class="media-checkbox" [value]="3" id="contract" formControlName="jobType"/>
        <label for="contract" class="mb-0 mx-2">Contract</label>
      </div>
    </div>
  </app-form-fields>

  <app-form-fields [label]="'start date'" [for]="'title'">
    <input class="form-control" type="datetime-local" placeholder="Enter start date time" name="startDateTime" formControlName="startDateTime">
    @if(form.controls['startDateTime'].touched && form.controls['startDateTime'].errors?.['required']){
      <div class="invalid-feedback">
        Start date time is required.
      </div>
    }
  </app-form-fields>

  <app-form-fields [label]="'end date'" [for]="'title'">
    <input class="form-control" type="datetime-local" placeholder="Enter end date time" name="endDateTime" formControlName="endDateTime">
    @if(form.controls['endDateTime'].touched && form.controls['endDateTime'].errors?.['required']){
      <div class="invalid-feedback">
        End date time is required.
      </div>
    }
  </app-form-fields>

  <app-form-fields [label]="'status'" [for]="'status'" [required]="false">
    <div class="form-check form-switch ps-0">
      <label class="switch">
        <input type="checkbox" id="status" formControlName="status">
        <span class="switch-state"></span>
      </label>
    </div>
  </app-form-fields>
  <app-button [id]="'job_btn'">{{ (type == 'create' ? 'save_job' : 'update_job') | translate }}</app-button>
</form>
