<!-- <app-loader></app-loader> -->
<div class="layout-section">
  @if (isSidebarOpen && isSmallScreen) {
    <div
      class="fixed inset-0 bg-black bg-opacity-50 z-20"
      (click)="closeSideBar()">
    </div>
  }
    <!-- Sidebar Navigation -->
    <app-sidebar [menus]="menuItems"></app-sidebar>
    <!-- Header -->
    <app-header></app-header>
    <!-- Main Content -->
    <main class="pt-14 pb-4 px-4 bg-gray-100 h-[100vh] overflow-y-auto transition-all duration-300"
    [ngClass]="isSidebarOpen && !isSmallScreen ? 'ml-[14rem]' : 'ml-0'">
      <router-outlet></router-outlet>
    </main>   
</div>