.password-container {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa;

    @media (max-width: 768px) {
        flex-direction: column;
    }
    
    .illustration-section {
        flex: 1;
        background-color: #e5eafb;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .portal-title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 2rem;
            color: #10217D;
        }
    
        .illustration {
            max-width: 400px;
            width: 100%;
            margin: auto;
    
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    
    .form-section {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    
        .form-container {
            width: 100%;
            max-width: 400px;
    
            h1 {
                font-size: 1.75rem;
                color: #10217D;
                margin-bottom: 1rem;
                text-align: center;
            }
    
            .subtitle {
                color: #6c757d;
                margin-bottom: 2rem;
                text-align: center;
            }
        }
    }
    
    .field {
        margin-bottom: 1.5rem;
    
        label {
            display: block;
            margin-bottom: 0.25rem;
            color: #626568;
            font-size: 0.9rem;
            font-weight: 500;
        }
    }  
    
    .button-section {
        margin-top: 2rem;
    }
    
    @media (max-width: 768px) {
        .illustration-section {
            padding: 1.5rem;
    
            .illustration {
                max-width: 250px;
            }
        }
    
        .form-section {
            padding: 1.5rem;
        }
    }
}

:host ::ng-deep {
    .p-password {
        .p-password-input {
            padding: 0.6rem 0.75rem;
            font-size: 0.8rem;
            &::placeholder {
                color: #cbcccd;
            }
        }
    }

    .p-button.p-button-sm {
        // background: #10217D;
        padding: 0.6rem 1rem;
        font-size: 0.875rem;
    }
}