.priority-high {
border-left: 3px solid #ef4444;
}
.priority-medium {
border-left: 3px solid #fb923c;
}
.priority-low {
border-left: 3px solid #94a3b8;
}

.draggable-staff {
    cursor: grab;
}

.draggable-staff:active {
    cursor: grabbing;
}

.drop-zone {
    // border: 2px dashed transparent;
    transition: all 0.2s ease;
}

.drop-zone.drag-over {
    border: 2px dashed #16C2D5;
    background-color: rgba(22, 194, 213, 0.05);
}

.staff-card-mini {
    transition: all 0.3s ease;
}

.staff-card-mini:hover {
    transform: translateY(-2px);
}
