/**=====================
   Job View page css
==========================**/
.job-view-section {
  .card-section{
    position: relative;
    padding: calc(10px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
    width: 100%;
    overflow: hidden;
    border-radius: 0.25rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .coupon-name {
      display: block;
      font-size: calc(13px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
      
      h6 {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: calc(16px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
        margin: 0;
        line-height: 1.4;
      }
    }

  
    .border-top{
      border-top: 1px dashed rgba(0, 0, 0, 0.12);
    }

    p {
      color: #777;
      line-height: 1.6;
      font-weight: 500;
      font-size: calc(12px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: calc(4px + (11 - 6) * ((100vw - 320px) / (1920 - 320)));
    }

  
  
    .card-content {
      margin-top: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: 5px;
      @media (max-width: 767px) {
        height: auto;
      }
  
      strong,th{
        font-size: calc(12px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
      }

      .icon-color{
        color: var(--theme-color);
      }  
    }
    .coupon-apply {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
  
      button{
        margin-left: 10px;
      }
    }
  }
}