/**=====================
   Offer page css
==========================**/
.coupon-box {
  position: relative;
  padding: calc(10px + (20 - 15) * ((100vw - 320px) / (1920 - 320)));
  // background: #f8f8f8;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 4px solid var(--theme-color);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .border-top{
    border-top: 1px dashed rgba(0, 0, 0, 0.12);
  }

  .coupon-name {
    display: block;
    font-size: calc(13px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
    
    h6 {
      color: var(--theme-color);
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: calc(16px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
      margin: 0;
      line-height: 1.4;
    }
  }

  .coupon-content {
    margin-top: calc(3px + (8 - 3) * ((100vw - 320px) / (1920 - 320)));
    height: 60%;
    margin-bottom: 5px;
    @media (max-width: 767px) {
      height: auto;
    }

    strong{
      font-size: calc(12px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
      i{
        color:#282727;
      }
    }

    p {
      color: #777;
      line-height: 1.6;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      font-weight: 500;
      -webkit-box-orient: vertical;
      font-size: calc(12px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
      margin-bottom: calc(4px + (11 - 6) * ((100vw - 320px) / (1920 - 320)));
    }

    .amount-text{
      h6 {
        color: var(--theme-color);
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: calc(14px + (18 - 17) * ((100vw - 320px) / (1920 - 320)));
        margin: 0;
        line-height: 1.4;
      }
    }

  }
  .coupon-apply {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-top: calc(8px + (12 - 8) * ((100vw - 320px) / (1920 - 320)));
    border-top: 1px dashed rgba(0, 0, 0, 0.12);

    button{
      margin-left: 10px;
    }

    // .btn-outline{
    //   border: 1px solid var(--theme-color) !important;
    //   color: var(--theme-color) !important;
    //   background-color: transparent !important;
    // }

    // .btn-outline:hover {
    //     color: $white !important;
    //     background-color: var(--theme-color) !important;
    // }

    .copy-btn {
      border: unset;
      color: var(--theme-color);
      padding: 0;
    }
  }
}



.section-card{
  height: calc(100vh - 80px);
  overflow-y: auto;
  // @media (max-width: 767px) {
  //   height: calc(100vh - 120px);
  // }
}

.form-label {
  font-weight: 500;
  margin-bottom: 5px;
  font-size: small;
}