<div class="relative">
    @if (prefixIcon) {
    <div
        class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <div
            class="w-5 h-5 flex items-center justify-center text-gray-400">
            <i [ngClass]="prefixIcon"></i>
        </div>
    </div>
    }
    <select [(ngModel)]="selectField" (ngModelChange)="onValueChange($event)"
        placeholder="Select Option..."
        [disabled]="isDisabled"
        [ngClass]="{ 'cursor-not-allowed': isDisabled, 'pl-10 bg-gray-50': prefixIcon }"
        [class.border-red-500]="isInvalid"
        class="appearance-none border border-gray-300 text-gray-700 text-sm rounded px-4 pr-5 py-[0.32rem] w-full focus:outline-none focus:ring-2 focus:ring-[#16c2d5]/20 focus:border-[#16c2d5] text-left">
        @for (item of dropDownListData; track $index) {
        <option
            [value]="item[keyValue]">{{item[keyLabel]}}</option>
        }
    </select>
    <div
        class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
        <i
            class="ri ri-arrow-down-s-line text-gray-400"></i>
    </div>
</div>
@if (isInvalid) {
<small class="text-red-500">
    @for (data of errorList; track $index) {
    @if (data.error) {
    {{data.errorMessage}}
    }
    }
</small>
}