<div class="container mx-auto pt-4 max-w-full">
    <!-- User Details -->
    <app-user-details></app-user-details>

    <div class="bg-white rounded shadow-sm p-4">
        <div class="flex justify-end space-x-3">
            <button (click)="close()"
                class="bg-red-100 text-red-600 px-5 py-2 rounded-button font-medium whitespace-nowrap">
                Cancel
            </button>
            <button
                class="bg-primary text-white px-5 py-2 rounded-button font-medium whitespace-nowrap">
                <i class="ri-user-add-line mr-1"></i> Send Invitation
            </button>
        </div>
    </div>
</div>