<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'jobs'">
  <div class="d-flex flex-wrap gap-2" *hasPermission="'user.create'" button>
    <a [routerLink]="['/jobs/create']" class="align-items-center btn btn-theme">
      <i class="ri-add-line"></i> {{ 'add_job' | translate }}
    </a>
  </div>
  <app-dynamic-table
    [tableConfig]="tableConfig"
    [pagination]="true"
    (tableChanged)="onTableChange($event)"
    (rowClicked)="edit($event)"
    (action)="onActionClicked($event)">
  </app-dynamic-table>
</app-page-wrapper>