<app-page-wrapper [gridClass]="'col-sm-12'" [title]="'add'" [showTitle]="false" [border]="false">
  <div class="d-flex flex-wrap gap-2" button>
    <a [routerLink]="['/jobs/create']" class="align-items-center btn btn-theme">
      <i class="ri-add-line"></i> Post Job
    </a>
  </div>
  <!-- <app-dynamic-table
    [tableConfig]="tableConfig"
    [pagination]="true"
    (tableChanged)="onTableChange($event)"
    (rowClicked)="edit($event)"
    (action)="onActionClicked($event)">
  </app-dynamic-table> -->
  <app-job-card-section 
  [jobConfig]="jobConfig" 
  (cardAction)="onActionClicked($event)"
  [userType]="userTypeEnum.COMPANY"
  ></app-job-card-section> 
</app-page-wrapper>

<app-delete-modal #deleteModal (deleteItem)="delete($event?.data)">
</app-delete-modal>