<div class="loader-section">
    @if (spineLoading) {
        <div class="loader-container fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex items-center justify-center" id="loader">
            <div class="bg-white bg-opacity-100 p-6 rounded flex flex-col items-center justify-center shadow-lg">
                <div class="animate-spin w-10 h-10 border-4 border-t-4 border-[#f3f3f3] border-t-[#16C2D5] rounded-full"></div>
                <div class="text-2xl font-['Pacifico'] text-[#10217d] pt-3 flex items-center justify-center">Aura Link</div>
            </div>
        </div>
    }
    
    @if (!spineLoading) {
    <div class="indeterminate-progress-bar">
        <div class="indeterminate-progress-bar__progress"></div>
    </div>
    }
</div>