@if (tableSchema) {
<div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
            <tr>
                @if (tableSchema.showSerialNo) {
                <th scope="col"
                    class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    No.
                </th>
                }
                @for (column of tableSchema.columns; track $index) {
                <th scope="col"
                    class="px-4 py-2 whitespace-nowrap text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    {{column.title}}
                    @if (column.sorting) {
                    <a class="cursor-pointer"
                        (click)="column.onSortChange ? column.onSortChange(tableSchema, column) : ''">
                        @if (column.sortDirection ==
                        tableFilterSortDirectionEnum.Ascending ||
                        column.sortDirection ==
                        tableFilterSortDirectionEnum.None) {<span
                            class="text-sm">&uarr;</span>}
                        @if (column.sortDirection ==
                        tableFilterSortDirectionEnum.Descending ||
                        column.sortDirection ==
                        tableFilterSortDirectionEnum.None) {<span
                            class="text-sm">&darr;</span>}
                    </a>
                    }
                </th>
                }
            </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
            @for (data of tableSchema.data; track data; let i = $index) {
            <tr>
                @if (tableSchema.showSerialNo) {
                <th scope="col"
                    class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                    {{i+1}}
                </th>
                }
                @for (column of tableSchema.columns; track $index) {
                @if (!column.actions) {
                <td class="px-4 py-2 whitespace-nowrap"
                    [innerHtml]="column.onFormatChange ? column.onFormatChange(tableSchema, column, data) : ''">
                </td>
                }
                @else if (column.actions) {
                <td
                    class="px-4 py-2 whitespace-nowrap text-sm font-medium">
                    <div class="flex space-x-2">
                        @for (action of column.actions; track $index) {
                            <button class="p-1 hover:bg-gray-100 rounded-full" (click)="action.onActionClick(tableSchema, action.actionType, data)"
                                [ngClass]="action.class">
                                <div class="w-5 h-5 flex items-center justify-center">
                                    <i [class]="action.iconClass"></i>
                                </div>
                            </button>
                        }
                    </div>
                </td>
                }
                }
            </tr>
            }
        </tbody>
    </table>
</div>
}