@if(jobDetails){
<div class="job-view-section row">
  <div class="col-xl-3 col-lg-4 col-md-5">
    <div class="card-section mb-3">
      <div class="coupon-name">
        <h6 class="fw-semibold dark-text mb-1">Overview</h6>
      </div>
      <div class="card-content table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="col">Job Title</th>
                    <td scope="col"><p>{{jobDetails?.jobTitle}}</p></td>
                </tr>
                <tr>
                    <th scope="row">Experience:</th>
                    <td><p>0-{{jobDetails?.experience}} Years</p></td>
                </tr>
                <tr>
                    <th scope="row">Job Type</th>
                    <td>
                      @if(jobDetails.jobTypeId){
                        @if (+jobDetails.jobTypeId==jobTypeEnum.FULL_TIME) {
                        <span class="new-badge new-bg-success me-2">{{ jobDetails.jobType }}</span>
                        }
                        @if (+jobDetails.jobTypeId==jobTypeEnum.PART_TIME) {
                        <span class="new-badge new-bg-green me-2">Part Time</span>
                        }
                        @if (+jobDetails.jobTypeId==jobTypeEnum.CONTRACT) {
                        <span class="new-badge new-bg-orange me-2">{{ jobDetails.jobType }}</span>
                        }
                      }
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">Status</th>
                    <td><span class="badge badge-soft-info">New</span></td>
                </tr> -->
                <tr>
                  <th scope="row">Amount</th>
                  <td><p>{{jobDetails?.amount ? '₹'+jobDetails?.amount : '-'}} / {{jobDetails?.amountType == 1 ? 'M' : 'H'}}</p></td>
                </tr>
                <tr>
                    <th scope="row">Posted Date</th>
                    <td><p>{{jobDetails?.jobStartTime}}</p></td>
                </tr>
                <tr>
                    <th scope="row">Close Date</th>
                    <td><p>{{jobDetails?.jobEndTime}}</p></td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="coupon-apply">
         <app-button 
           [class]="'btn-sm fw-bold btn btn-theme'" 
           [spinner]="false"
           (click)="jobApply()">
           Apply Now
         </app-button>
      </div>
    </div>

    <div class="card-section mb-3">
      <div class="coupon-name">
        <h6 class="fw-semibold dark-text mb-1">Contact Details</h6>
      </div>
      <div class="card-content">
        <ul class="mt-4">
          <li>
              <div class="d-flex">
                  <i class="ri-phone-line icon-color fs-10"></i>
                  <div class="ms-3">
                      <div><strong class="fs-14 mb-1">Phone</strong></div>
                      <p class="text-muted fs-14 mb-0">{{(jobDetails?.dialCode ? '+'+jobDetails?.dialCode : '') + (jobDetails?.contactNo ? '+'+jobDetails?.contactNo : '')}}</p>
                  </div>
              </div>
          </li>
          <li class="mt-3">
            <div class="d-flex">
              <i class="ri-mail-send-line icon-color fs-10"></i>
              <div class="ms-3">
                  <div><strong class="fs-14 mb-1">Email</strong></div>
                  <p class="text-muted fs-14 mb-0">{{jobDetails?.email}}</p>
              </div>
            </div>
          </li>
          <li class="mt-3">
            <div class="d-flex">
              <i class="ri-map-pin-line icon-color fs-10"></i>
              <div class="ms-3">
                  <div><strong class="fs-14 mb-1">Location</strong></div>
                  @if(jobDetails?.jobLocation.length>0){
                    @for(location of jobDetails?.jobLocation; track location){
                    <p class="text-muted fs-14 mb-0">
                      {{location?.address ? location?.address+',' : ''}}
                      {{location?.cityName ? location?.cityName+',' : ''}}
                      {{location?.stateName ? location?.stateName+',' : ''}}
                      {{location?.countryName ? location?.countryName : ''}}
                      {{location?.zipCode ? ' - '+location?.zipCode+',' : ''}}
                    </p>
                    }
                  }
              </div>
            </div>
          </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-9 col-lg-8 col-md-7">
    <div class="card-section">
      <div class="coupon-name">
        <h6 class="fw-semibold dark-text mb-1">{{ jobDetails?.jobTitle }}</h6>
        @if(jobDetails?.jobLocation.length>0){
        <span class="d-flex">
          <i class="ri-map-pin-line dark-text"></i> <p class="text-muted mb-0">{{jobDetails?.jobLocation[0] ? jobDetails?.jobLocation[0]?.countryName : ''}}</p>
        </span>
        }
      </div>
      <hr>
      <div class="coupon-name">
        <h6 class="fw-semibold dark-text mb-1">Description</h6>
      </div>
      <div class="card-content">
        <p>
          {{jobDetails?.description}}
        </p>
      </div>

      <div class="coupon-name mt-3">
        <h6 class="fw-semibold dark-text mb-1">Comments</h6>
      </div>
      <div class="card-content">
        <p>
          {{jobDetails?.comment}}
        </p>
      </div>

      <div class="coupon-name mt-3">
        <h6 class="fw-semibold dark-text">Skill & Experience</h6>
      </div>
      <div class="card-content">
        @if(jobDetails?.jobSkills?.length>0){
          @for(skill of jobDetails?.jobSkills; track skill){
            <span class="new-badge bg-primary me-2 mb-1">{{ skill.skillName }}</span>
          }
        }
      </div>

      <div class="coupon-name mt-3">
        <h6 class="fw-semibold dark-text">Languages</h6>
      </div>
      <div class="card-content">
        @if(jobDetails?.languages?.length>0){
          @for(language of jobDetails?.languages; track language){
            <span class="new-badge bg-primary me-2 mb-1">{{ language.bpLanguageName }}</span>
          }
        }
      </div>
    </div>
  </div>
</div>
}