<!-- <div class="selection-container">
    <div class="selection-content">
        <div class="illustration">
            <div class="back-button">
                <button pButton icon="pi pi-arrow-left" (click)="goBack()" class="p-button-text"></button>
            </div>
            <img src="assets/images/auth/left-side.png" alt="Work Illustration">
        </div>
        <div class="selection-cards">
            @if (selectedUserType) {
                {{selectedUserType}}
            }
            @else {
                <p-card styleClass="selection-card">
                    <div class="card-content">
                        <i class="pi pi-building"></i>
                        <h2>I want to manage my company</h2>
                        <p-button size="small" (click)="action(userType.EMPLOYER)" label="Register" styleClass="p-button-outlined"></p-button>
                    </div>
                </p-card>
    
                <p-card styleClass="selection-card">
                    <div class="card-content">
                        <i class="pi pi-user"></i>
                        <h2>I want to Work</h2>
                        <p-button size="small" (click)="action(userType.EMPLOYEE)" label="Register" styleClass="p-button-outlined"></p-button>
                    </div>
                </p-card>
            }
        </div>
    </div>
</div> -->



<div class="otp-container flex h-[100vh] bg-white">
    <div class="welcome-section flex-col md:w-2/4 px-[64px] py-5">
        <div class="text-[#fff]">EMPLOYER WORKER PORTAL</div>
        <div class="flex items-center justify-center h-[90vh]">
            <img src="assets/images/auth/forgot-password.png"
                alt="otp Password">
        </div>
    </div>
    <div class="form-container md:w-2/4 w-full flex items-center justify-center flex-col">
        <div class="mb-8 flex items-center">
            <div
              class="w-8 h-8 bg-primary rounded-full flex items-center justify-center text-white"
            >
              <i class="ri-user-add-line"></i>
            </div>
            <h1 class="text-2xl font-bold text-gray-800 ml-3">
              Choose your path
            </h1>
          </div>
          <div class="space-y-6">
            <div
              class="p-6 border border-gray-200 rounded-lg hover:border-primary cursor-pointer transition-all w-full"
            >
            <div class="w-8 h-8 flex items-center justify-center">
              <i class="ri-building-line text-2xl text-primary"></i>
            </div>
            <h2 class="text-lg font-semibold text-gray-800 mb-2">
              I want to manage my company
            </h2>
              <button (click)="action(userType.EMPLOYER)"
                class="px-4 py-1 text-primary border border-primary !rounded-button hover:bg-primary hover:text-white transition-all"
              >
                Register
              </button>
            </div>
  
            <div
              class="p-6 border border-gray-200 rounded-lg hover:border-primary cursor-pointer transition-all"
            >
            <div class="w-6 h-6 flex items-center justify-center">
              <i class="ri-user-line text-2xl text-primary"></i>
            </div>
            <h2 class="text-lg font-semibold text-gray-800 mb-2">
              I want to Work
            </h2>
              <button (click)="action(userType.EMPLOYEE)"
                class="px-4 py-1 text-primary border border-primary !rounded-button hover:bg-primary hover:text-white transition-all"
              >
                Register
              </button>
            </div>
          </div>
          <div class="mt-6 text-center text-gray-600">
            Already have an account?
            <a
              data-readdy="true" (click)="goBack()"
              class="text-secondary hover:underline cursor-pointer"
              >Login</a
            >
          </div>
    </div>
</div>